<body>

    
    <div class="card" *ngFor="let item of BreakfastItems">
        <img src={{item.image}} class="image">
        <h2 class="food-name">{{item.name}}</h2>
        <p class="nutrition-label" >fats= {{item.fat}}</p>
        <p class="nutrition-label">carbs={{item.carbs}}</p>
        <p class="nutrition-label">protiens={{item.protien}}</p>
        <p class="nutrition-label">calories={{item.calories}}</p>
    </div>

</body>





