.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: grid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: left;
}

.product-image {
    max-width: 100%;
}

.product-title {
    font-size: 20px;
    margin: 10px 0;
}

.product-price {
    font-size: 18px;
    color: #007bff;
}
.image{
    width: 30px;
}