<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>
                    <h3>Registration Form</h3>
                </span></div>
            <form (ngSubmit)="validateReg(regForm.value)" #regForm="ngForm" novalidate>
                <div class="input-group">
                    <input type="text" placeholder="first Name" class="form-style" id="name" name="firstname" ngModel #firstName="ngModel"
                        required>
                </div>
              
                <div *ngIf="(firstName.errors?.['required'] && firstName.touched)" class="errors">
                    <!-- <p>!Please enter your name</p> -->

                </div>
                <br>

                <div class="input-group">
                    <input type="text" placeholder="last Name" class="form-style" id="name" name="lastname" ngModel #lastName="ngModel"
                        required>
                </div>
                <br>
                
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-person-half-dress"></i></span>
                    <select id="gender" name="gender" ngModel class="form-control" #gender="ngModel" required  placeholder="gender">
                        <option value="">gender<option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <br>
                <div *ngIf="gender.errors?.['required'] && gender.touched" class="errors">
                    <!-- <p>!Please select gender</p> -->
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                    <input type="text" name="phoneNumber" class="form-control " ngModel #phoneNumber="ngModel"
                        placeholder="Enter Your phoneNumber" id="logname" autocomplete="off" required maxlength="10">
                </div>

                <div *ngIf="((phoneNumber.errors?.['required'] && phoneNumber.touched)  || (phoneNumber.dirty && !isPhoneNumberValid(regForm.value.phoneNumber)))"
                    class="errors">
                    <!-- <div>!Please enter valid phoneNumber</div> -->
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <input type="text" class="form-control" name="emailId" placeholder="Enter Email" #emailId="ngModel" ngModel required email>
                </div>
                <div *ngIf="(emailId.errors?.['required'] && emailId.touched && emailId.invalid ) || (emailId.invalid && emailId.touched) || (emailId.invalid && emailId.dirty)"
                    class="errors">
                    <!-- <p>!Please enter valid Email-ID</p> -->
                </div>
                <br> 
                <!-- <div>
                    <div *ngIf="emailId.touched && emailId.invalid" class="error-text">
                        <h6 style="color: red;">Please Enter Email</h6>
                    </div>
                              
                </div> -->
                <div class="input-group">
                    <span class="input-group-text "><i class="fa-solid fa-key"></i></span>
                    <input type="password" placeholder="Password" class="form-control" id="password" name="password" required minlength="6"
                        ngModel #password="ngModel" required>
                </div>
                <div *ngIf="(password.errors?.['required'] && password.touched) || (!isPasswordValid(regForm.value.password) && password.dirty)"
                    class="errors">
                    <!-- <p>!Please Enter valid password</p> -->
                </div>
                <div class="row button">
                    <button [disabled]="!regForm.valid" class="btn btn-primary" >Register</button>
                </div>
                <div class="signup-link">
                    <li class="nav-item">
                    </li>
                </div><br>
            </form>
        </div>
    </div>
</body>