
        body {
            background-size:cover;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items:first baseline;
                background-image: url('/assets/images/nutrition.png'); /* Replace 'your-image.jpg' with the path to your image */
                background-size: cover; /* Adjust the size of the background image */
                background-repeat: no-repeat; /* Prevent the image from repeating */
                  background-attachment: fixed;
        }

        .container {
            
            background-color: rgba(255, 255, 255, 0);
            justify-content: center;
            align-items:baseline;
            width: 60vh;
            height: 80vh;
            padding: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.655);
            border-radius: 10px;
        }
        .wrapper {
            background-color: #ffffff00;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        }
        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .row {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .icon {
            flex: 0 0 30px;
            text-align: center;
            margin-right: 10px; /* Add margin to separate icon from input */
        }

        .icon i {
            font-size: 20px;
        }

        input[type="text"],
        input[type="password"] {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer; /* Cursor set to pointer */
            border-radius: 3px;
            transition: background-color 0.2s ease; 
        }

        button:hover {
            background-color: #0056b3;
        }

        .button {
            text-align: center;
            margin-top: 20px;
        }

        .signup-link {
            text-align: center;
            margin-top: 10px;
        }

        .error-message {
            color: red;
        }
        .example{
            color: lightblue;
            padding: 20vh;
        }
     .row{
        color:black;
        
     }
  
