
 body {
           
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
                background-image: url('/assets/images/nutrition.png'); /* Replace 'your-image.jpg' with the path to your image */
                background-size: cover; /* Adjust the size of the background image */
                background-repeat: no-repeat; /* Prevent the image from repeating */
                  background-attachment: fixed; /* Keep the image fixed in place */
        }
        .login-container {
            background-color: rgba(255, 255, 255, 0);
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.655);
            align-content:start;
        }

        .login-form {
            text-align: center;
        }

        .login-form h2 {
            margin-bottom: 30px;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
        }

        .login-form input[type="submit"] {
            background-color:blue;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .login-form button{
            background-position: center;
            background-color:blue;
            color: white;
            padding: 10px 1ch;
            border-radius: 5px;
            cursor: pointer;
        }
        .text{
            background-color: whitesmoke;
            text-align: center;
            
        }
 