
<nav class="navbar navbar-expand-lg btn btn-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!login()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" *ngIf="!login()">Register</a>
        </li>
        <li class="nav-item">
          <a style="margin-left: 1900%" class="nav-link" routerLink="login">logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="calories-analysis">calories-analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="breakfast">breakfast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lunch">lunch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="snacks">snacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Dinner">Dinner</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="logout" *ngIf="logout()">Logout</a>
              </li>
              
            </ul>
      </form> -->
    </div>
  </div>
</nav>