<div id="c" class="calculator">
    <h2>Calorie Calculator</h2>
    <form (ngSubmit)="calculateCalories()">
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" [(ngModel)]="user.age" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" [(ngModel)]="user.gender" required >
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit">Calculate Calories</button>
      </div>
    </form>
0    <div class="result" *ngIf="caloriesCalculated">
      <p>Your estimated daily calories: {{ calculatedCalories }} calories</p>
    </div>
    <h1 class="text-center mb-3" style="text-decoration: underline; color: cornflowerblue;">Products List</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 200px; height: 500px;">
                    <img class="card-img-top" src="" alt="Card Image" style="height: 60%;">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"> </p>
                        <p class="card-text">Price: </p>
                        <p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 200px; height: 500px;">
                    <img class="card-img-top" src="" alt="Card Image" style="height: 60%;">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text">  </p>
                        <p class="card-text">Price:</p>
                        <p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 200px; height: 500px;">
                    <img class="card-img-top" src="" alt="Card Image" style="height: 60%;">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <p class="card-text">Price:</p>
                        <p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>